.inputWrapper {
  display: flex;
  align-items: center;
  margin-top: 1px;
  flex: 1;
  margin-left: 10px;

  input {
    padding: 5px;
    box-sizing: border-box;
    color: #393737;
    border: 0;
    font-size: 0.9rem;
    width: 100%;
    border-radius: 0;
    outline: none;
  }
}
